* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}

body {
  background-color: rgb(244, 232, 255);
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 1rem;
    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      font-weight: 100;
      color: #392467;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 100;
      font-style: italic;
      color: #392467;
    }
    .links-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      ul {
        display: flex;
        flex-direction: row;
        li {
          margin: 0 0.5rem;
          a {
            text-decoration: none;
            border: solid 1px blueviolet;
            padding: 5px 10px;
            border-radius: 5px;
            color: blueviolet;
            background-color: white;
          }
          a:hover,
          a:focus {
            color: white;
            background-color: blueviolet;
          }
        }
      }
    }
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
      width: 20rem;
      label {
        margin: 0.5rem;
        color: #392467;
      }
      input#title {
        height: 2rem;
        font-size: 2rem;
        border: 1px solid blueviolet;
      }
      textarea#content {
        height: 10rem;
        font-size: 1.3rem;
        resize: vertical;
        border: 1px solid blueviolet;
      }
      button {
        margin-top: 1rem;
        align-self: center;
        width: 5rem;
        height: 2rem;
        border: none;
        border-radius: 5rem;
        border: 1px solid blueviolet;
        background-color: white;
        color: blueviolet;
      }
      button:hover,
      button:focus {
        color: white;
        background-color: blueviolet;
      }
    }
  }
}
