* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}

body {
  background-color: rgb(244, 232, 255);
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 1rem;
}
body header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 100;
  color: #392467;
}
body header h2 {
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
  color: #392467;
}
body header .links-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body header .links-section ul {
  display: flex;
  flex-direction: row;
}
body header .links-section ul li {
  margin: 0 0.5rem;
}
body header .links-section ul li a {
  text-decoration: none;
  border: solid 1px blueviolet;
  padding: 5px 10px;
  border-radius: 5px;
  color: blueviolet;
  background-color: white;
}
body header .links-section ul li a:hover,
body header .links-section ul li a:focus {
  color: white;
  background-color: blueviolet;
}
body main .idea.section {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid blueviolet;
  margin: 1rem;
  background-color: rgb(246, 238, 253);
}
body main .idea.section input {
  height: 2rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}
body main .idea.section textarea {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
body main .idea.section h3.ideaNo {
  font-size: 1.1rem;
  font-style: italic;
  color: #392467;
  margin-bottom: 0.3rem;
}
body main .idea.section h4.title {
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 2rem;
  padding: 1rem 0 1rem 1rem;
  background-color: rgb(241, 226, 255);
  color: #0e21a0;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body main .idea.section p.content {
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 1.3rem;
  padding: 1rem 0 1rem 1rem;
  margin-bottom: 1rem;
  background-color: rgb(244, 231, 255);
  color: #0b1974;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body main .idea.section .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
body main .idea.section .wrapper .btn-wrapper .btn {
  min-width: 3rem;
  height: 2rem;
  border: 1px solid blueviolet;
  border-radius: 5rem;
}
body main .idea.section .wrapper .btn-wrapper .edit.btn {
  background-color: white;
  margin-right: 1rem;
}
body main .idea.section .wrapper .btn-wrapper .edit.btn:hover,
body main .idea.section .wrapper .btn-wrapper .edit.btn:focus {
  background-color: blueviolet;
  color: white;
}
body main .idea.section .wrapper .btn-wrapper .delete.btn {
  background-color: rgb(255, 171, 171);
  border: 1px solid rgb(146, 60, 60);
  width: 6rem;
}
body main .idea.section .wrapper .btn-wrapper .delete.btn:focus,
body main .idea.section .wrapper .btn-wrapper .delete.btn:hover {
  background-color: red;
  border: 1px solid red;
  color: white;
}
body main .idea.section .wrapper .date {
  color: gray;
}/*# sourceMappingURL=index_style.css.map */