* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}

body {
  background-color: rgb(244, 232, 255);
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 1rem;
    .links-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      ul {
        display: flex;
        flex-direction: row;
        li {
          margin: 0 0.5rem;
        }
      }
    }
  }
  main {
    .idea.section {
      display: flex;
      flex-direction: column;
      background-color: white;
      box-sizing: border-box;
      padding: 1rem;
      border: 1px solid blueviolet;
      margin: 1rem;
      input {
        height: 2rem;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      textarea {
        font-size: 1.3rem;
        margin-bottom: 1rem;
      }
      h3.ideaNo {
        font-size: 1.1rem;
        font-style: italic;
        text-decoration: underline;
      }
      h4.title {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      p.content {
        font-size: 1.3rem;
        margin-bottom: 3rem;
      }
      .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .btn-wrapper {
          .btn {
            min-width: 3rem;
            height: 2rem;
            border: 1px solid blueviolet;
            border-radius: 5rem;
          }
          .edit.btn {
            background-color: white;
            margin-right: 1rem;
          }
          .edit.btn:hover,
          .edit.btn:focus {
            background-color: blueviolet;
            color: white;
          }
          .delete.btn {
            background-color: rgb(255, 171, 171);
            border: 1px solid rgb(146, 60, 60);
            width: 6rem;
          }
          .delete.btn:focus,
          .delete.btn:hover {
            background-color: red;
            border: 1px solid red;
            color: white;
          }
        }
        .date {
          color: gray;
        }
      }
    }
  }
}
